.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
      .top-items__icon
        = link_to "#", class: "contents_btn" do
          = icon("fa", "fas fa-cog")
        = link_to "#", class: "contents_btn" do
          = icon("fa", "fas fa-edit")
  .side-bar__group-list
    .group-list__head
      .group-name
      .new-message